html {
    font-family: sans-serif;
}

form {
    padding: 20px;
    width: 300px;
    background: #EEE;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

label {
    padding: 4px;
    margin-bottom: 20px;
    width: 130px;
    text-align: right;
    float: left;
}

input {
    width: 130px;
    float: right;
}

label, input {
    font-size: 1em;
    line-height: 1.5;
}

div {
    clear: both;
}

.errors {
    padding: 20px;
    width: 300px;
    left: 360px;
    background: yellow;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    position: absolute;
}